In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('data2.csv')
df.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,expirationDate
0,SPY260220C00335000,2026-02-02 19:44:19+00:00,335.0,362.17,351.50,354.26,0.0,0.0,1.0,3,1.510745,True,REGULAR,USD,2026-02-20
1,SPY260220C00345000,2026-02-02 14:42:12+00:00,345.0,348.01,340.97,343.78,0.0,0.0,2.0,2,1.691652,True,REGULAR,USD,2026-02-20
2,SPY260220C00350000,2026-02-03 19:25:15+00:00,350.0,337.41,335.88,339.21,0.0,0.0,7.0,12,1.232426,True,REGULAR,USD,2026-02-20
3,SPY260220C00365000,2025-11-26 15:41:15+00:00,365.0,316.48,325.28,328.67,0.0,0.0,2.0,2,1.953369,True,REGULAR,USD,2026-02-20
4,SPY260220C00370000,2025-11-20 17:07:06+00:00,370.0,292.80,320.42,323.70,0.0,0.0,NaN,1,1.924683,True,REGULAR,USD,2026-02-20

In [18]:
mask_p_after_9 = df["contractSymbol"].str.contains(r"^.{9}P", regex=True, na=False)
df_put = df[mask_p_after_9]

df['option_type'] = mask_p_after_9
df.head()

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,expirationDate,option_type
0,SPY260220C00335000,2026-02-02 19:44:19+00:00,335.0,362.17,351.50,354.26,0.0,0.0,1.0,3,1.510745,True,REGULAR,USD,2026-02-20,False
1,SPY260220C00345000,2026-02-02 14:42:12+00:00,345.0,348.01,340.97,343.78,0.0,0.0,2.0,2,1.691652,True,REGULAR,USD,2026-02-20,False
2,SPY260220C00350000,2026-02-03 19:25:15+00:00,350.0,337.41,335.88,339.21,0.0,0.0,7.0,12,1.232426,True,REGULAR,USD,2026-02-20,False
3,SPY260220C00365000,2025-11-26 15:41:15+00:00,365.0,316.48,325.28,328.67,0.0,0.0,2.0,2,1.953369,True,REGULAR,USD,2026-02-20,False
4,SPY260220C00370000,2025-11-20 17:07:06+00:00,370.0,292.80,320.42,323.70,0.0,0.0,NaN,1,1.924683,True,REGULAR,USD,2026-02-20,False

In [19]:
df['option_type'] = df['option_type'].map({False: 'C', True: 'P'})

In [21]:
df.to_csv('data2.csv', index=False)

In [15]:
df.to_csv('data1.csv', index=False)